@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: semi-bold;
  src: url("../../assets/FiraCode-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: bold;
  src: url("../../assets/FiraCode-Bold.ttf") format("truetype");
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: semi-bold, sans-serif;
  font-size: 14px;
}

.wrapper {
  animation: enter 0.6s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bold;
  font-weight: 500;
  line-height: 1.6;
}

/* font size utilities */

h1 {
  font-size: 1.71rem;
}
h2 {
  font-size: 1.45rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.86rem;
}
h6 {
  font-size: 0.71rem;
}

/* Borders */

.border-t-green-200 {
  border-top-color: #243b3b;
}

.border-t-yellow-100 {
  border-top-color: #fcd739;
}

.border-t-green-100 {
  border-top-color: #179b9e;
}

@keyframes enter {
  0% {
      -webkit-transform: scale(.97);
      transform: scale(.97);
      opacity: 0
  }

  to {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
}